.Container{
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid;
  height: 100vh;
}

.QuoteBox {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  padding: 1.5%;
  max-width: 32%;
  max-height: 32%;
  border-radius: 5px;
}

.ButtonsIconContainer {
  display: flex;
  justify-content: space-between;
}

.Icons {
  display: inline-flex;
  justify-content: flex-start;
}

.NewQuote {
  display: inline-flex;
}
