.Container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  transition-duration: 2s;
}

.QuoteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  padding: 1.5%;
  width: 32%;
  max-height: 32%;
  border-radius: 5px;
  background-color: white;
  
}


.ButtonsIconContainer {
  display: flex;
  justify-content: space-between;
}

.Icons {
  display: inline-flex;
  justify-content: flex-start;
}

.NewQuote {
  display: inline-flex;
}
